body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #666;
    background-color: #fefdfc;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}


body a, body a:visited {
    color: #666;
}

body a:hover {
    color: #333;
}

html{
    height:100%;
}

#loader{
    background: #fff;
    bottom: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    margin: auto;
    position:absolute;

}

#wrapper{
    display:none;
}

#gui{
    display:block;
    position:absolute;
    width:400px;
    height:80px;
    z-index: 10;
}

.gui-inner{
    padding:10px;
}
.gui-buttons{
    padding:5px 0 10px 2px;

}
#gui a{
    padding-right:10px;
}

#sound-progress{
    font-size: 12px;
    color: #999;
}

#footer{
    bottom:0px;
    width:100%;
    height:0px;
    position:absolute;
}

#header {
    height: 0px;
    width:100%;
}

#canvas-container{
    background-color: #fefdfc;
    position:absolute;
    top:0px;
    bottom:0px;
    width:100%;
    overflow:hidden; /* fixes scrollbar in ie */
    padding:0;
    margin:0;

}

#canvas-container canvas{
    position:absolute;
}

